services:
    ajisai:
        image: ghcr.io/y-ne/ajisai:latest
        container_name: ajisai
        env_file:
            - .env
        networks:
            - frontend

networks:
    frontend:
        external: true
